*.so
*_old
.nfs*
*.log

Florian_Hackenberger/
Luminance/
QtProject.conf
QtProject/
Thunar/
Trolltech.conf
abiword/
akonadi/
anjuta/
audacious/
autostart/
blender/
brightness
chromium
dconf/
dwb/
enchant/
evince/
evolution/
geany/
gedit/
geeqie/
gobby/
gpicview/
gtk-2.0/
gtk-3.0/
herbstluftwm/panel.sh
herbstluftwm/restartpanels.sh
htop/
inkscape/
libfm/
libvirt/
libreoffice
mc/
menus/
mimeapps.list
nautilus/
pulse/
pavucontrol.ini
pcmanfm/
ristretto/
roxterm.sourceforge.net/
SEGGER/
sonata/
spring
tubus/
user-dirs.dirs
user-dirs.locale
VirtualBox/
virt-viewer/
vlc/
xarchiver/
yelp/
xfce4/
xm1/
