*.so
.pyc
*_old
*.pyc
*.nfs*
*.log
*.swp
*.cip
panel_pid_*

tor/

tubus/
Florian_Hackenberger/
Luminance/
QtProject.conf
QtProject/
Thunar/
Trolltech.conf
abiword/
akonadi/
anjuta/
audacious/
autostart/
blender/
brightness
chromium
dconf/
dwb/
enchant/
evince/
evolution/
geany/
gedit/
geeqie/
gobby/
gpicview/
gtk-2.0/
gtk-3.0/
herbstluftwm/panel.sh
herbstluftwm/restartpanels.sh
htop/
inkscape/
libfm/
spectaclerc
libvirt/
libreoffice
mc/
menus/
mimeapps.list
nautilus/
pulse/
unity3d/
pavucontrol.ini
pcmanfm/
ristretto/
roxterm.sourceforge.net/
SEGGER/
sonata/
spring
agent_socket
akonadi-firstrunrc
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_davgroupware_resource_1rc
akonadi_ical_resource_0rc
akonadi_maildir_resource_0rc
akonadi_newmailnotifier_agentrc
dunst/
emaildefaults
emailidentities
eventviewsrc
herbstluftwm/__pycache__/
korgacrc
korganizerrc
kolourpaintrc
nohup.out
specialmailcollectionsrc
unity3d/tubus/
user-dirs.dirs
user-dirs.locale
VirtualBox/
virt-viewer/
vlc/
xarchiver/
yelp/
xfce4/
xm1/
Bino/
Kid3/
arkrc
baloofilerc
banshee-1/
cip_logins
dolphinrc
foldermailarchiverc
gthumb/
gtkrc
gtkrc-2.0
kactivitymanagerdrc
katepartrc
katevirc
kdebugrc
kdeglobals
kdesvnpartrc
kdesvnrc
kglobalshortcutsrc
kleopatrarc
kmail2rc
krunnerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kwriterc
libkleopatrarc
logins
mailtransports
org.kde.gwenviewrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
reportbug-icedove-20170325-7498-sopdfz0v
session/
startupconfig
startupconfigfiles
startupconfigkeys
test
trashrc
